
<!--
<h2>Todo List</h2>
<ul>
  <li *ngFor="let Todo of Todos">
    <span>{{Todo.subject}}</span> 
    {{Todo.status}} <span>{{Todo.created}}</span><span>{{Todo.modified}}</span><span>{{Todo.category}}</span>
    <app-update-todo></app-update-todo><app-delete-todo></app-delete-todo>
  </li>
</ul>
-->

<h3>Todo List</h3>
<div>
  <label>subject:
    <input #todoSubject />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(todoSubject.value); todoSubject.value=''">
    add
  </button>
  <button (click)="search(todoSubject.value)">
    search
  </button>
  <button (click)="getTodoList()">list todos</button>
</div>



  <div class="w3-container">
      <ul class="w3-container">

       
          <li *ngFor="let todo of todos">
           
            <a (click)="edit(todo)">
              
              <span *ngIf="todo!==editTodo">{{todo.subject}}</span>
              <input *ngIf="todo===editTodo" [(ngModel)]="todo.subject"
                (blur)="update()" (keyup.enter)="update()">
            </a>
       
          
            <a (click)="edit(todo)">
               
                
                <input *ngIf="todo===editTodo" [(ngModel)]="todo.status"
                  (blur)="update()" (keyup.enter)="update()">
              </a>
              <a>
                  
                  <span>
                    {{todo.created}}
                  </span>
                </a>
              <a>
                 
                <span>
                  {{todo.modified}}
                </span>
              </a>
              <a (click)="edit(todo)">
                  
                  <span *ngIf="todo!==editTodo">{{todo.category}}</span>
                  <input *ngIf="todo===editTodo" [(ngModel)]="todo.category"
                    (blur)="update()" (keyup.enter)="update()">
                </a>  
              <a>
                <span>
            <button class="delete" title="delete todo"
            (click)="delete(todo)">x</button>
          </span>
          </a>
          </li>
        </ul>

  </div>
